<a href="https://colab.research.google.com/github/MorganDaviesEcon/MorganDaviesEcon.github.io/blob/main/gambling_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
import pandas as pd
import requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.3)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.1)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import yfinance as yf

In [ ]:
# lvs = yf.Ticker("LVS").history(period='2y')
# wynn = yf.Ticker("WYNN").history(period='2y')
# mgm = yf.Ticker("MGM").history(period='2y')
# mlco = yf.Ticker("MLCO").history(period='2y')
# penn = yf.Ticker("PENN").history(period='2y')
# pdypy = yf.Ticker("PDYPY").history(period='2y')
# gvcvi = yf.Ticker("GVC.VI").history(period='2y')
# pdypf = yf.Ticker("PDYPF").history(period='2y')

In [ ]:
dfs=[]
for x in ['LVS','WYNN','MGM','MLCO','PENN','PDYPY','GVC.VI','PDYPF']:
  df = yf.Ticker(x).history(period='1y')
  df=df[['Close']]
  df['Name']=x
  dfs.append(df)

In [ ]:
dfs[0].head(10)

                               Close Name
Date
2022-01-06 00:00:00-05:00  37.830002  LVS
2022-01-07 00:00:00-05:00  37.900002  LVS
2022-01-10 00:00:00-05:00  36.430000  LVS
2022-01-11 00:00:00-05:00  38.849998  LVS
2022-01-12 00:00:00-05:00  38.950001  LVS
2022-01-13 00:00:00-05:00  37.660000  LVS
2022-01-14 00:00:00-05:00  42.990002  LVS
2022-01-18 00:00:00-05:00  43.099998  LVS
2022-01-19 00:00:00-05:00  43.919998  LVS
2022-01-20 00:00:00-05:00  43.610001  LVS

In [ ]:
casino_stocks = pd.concat(dfs)

In [ ]:
casino_stocks

                                Close   Name
Date
2022-01-06 00:00:00-05:00   37.830002    LVS
2022-01-07 00:00:00-05:00   37.900002    LVS
2022-01-10 00:00:00-05:00   36.430000    LVS
2022-01-11 00:00:00-05:00   38.849998    LVS
2022-01-12 00:00:00-05:00   38.950001    LVS
...                               ...    ...
2022-12-29 00:00:00-05:00  138.585007  PDYPF
2022-12-30 00:00:00-05:00  134.750000  PDYPF
2023-01-03 00:00:00-05:00  138.729996  PDYPF
2023-01-04 00:00:00-05:00  142.479996  PDYPF
2023-01-05 00:00:00-05:00  137.509995  PDYPF

[2014 rows x 2 columns]

In [ ]:
casino_stocks_new = casino_stocks.dropna()

In [ ]:
casino_stocks_new

                                Close   Name
Date
2022-01-06 00:00:00-05:00   37.830002    LVS
2022-01-07 00:00:00-05:00   37.900002    LVS
2022-01-10 00:00:00-05:00   36.430000    LVS
2022-01-11 00:00:00-05:00   38.849998    LVS
2022-01-12 00:00:00-05:00   38.950001    LVS
...                               ...    ...
2022-12-29 00:00:00-05:00  138.585007  PDYPF
2022-12-30 00:00:00-05:00  134.750000  PDYPF
2023-01-03 00:00:00-05:00  138.729996  PDYPF
2023-01-04 00:00:00-05:00  142.479996  PDYPF
2023-01-05 00:00:00-05:00  137.509995  PDYPF

[2014 rows x 2 columns]

In [ ]:
casino_stocks_new.to_csv('gambling_stocks_new.csv')